<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center; font-size: 4rem;"> : <%=  perticuler_launge.loungeName %> : </h1>

<h1 style="text-align: center;">Here is all your booked seats: </h1>

<% var left_seats=[] ; %> 

<% for(var j=1;j< perticuler_launge.noOfSeats; j++){ %>
            
  <%          left_seats.push(j) %>
          
    
       

        <% } %>
<% console.log(left_seats) %>
<div style=" display: flex; flex-direction: row; padding: 3%; justify-content: center;">
    <% for(var i=0;i< orders.length; i++){ %>
        
        <% for(var j=0;j< orders[i].seats.length; j++){ %>
        
        
      
        <div style="display: flex; align-items: center; justify-content: center; border:2px solid black; border-radius: 2rem ; flex-wrap: wrap; padding: 2%; background-color: green; margin:0.1% ; ">
            <h1 > <%= orders[i].seats[j]  %> </h1>
        </div>
           
          <%  const inputString = orders[i].seats[j]; %>
           <% const extractedNumber = parseInt(inputString.match(/\d+/)[0]); %>

            <% console.log(extractedNumber); %>

            <%  const numberToRemove = extractedNumber; %>

            <%   left_seats = left_seats.filter(number => number !== numberToRemove); %>
            
            


            <% } %>
           

        <% } %>
    </div>
    <h1 style="text-align: center;">No Of Seats Left :  <%= left_seats.length  %> </h1>
    <h1 style="text-align: center;">Here is all your 'NOT BOOKED' seats: </h1>

    <div style=" display: flex; flex-direction: row; padding: 3%; justify-content: center; align-items: center ; flex-wrap: wrap;">
        <% for(var i=0;i< left_seats.length; i++){ %>
            
           
            
            
          
            <div style="display: flex; align-items: center; justify-content: center; border:2px solid black; border-radius: 2rem ; padding: 2%; background-color: rgb(128, 36, 0); margin:0.1% ; ">
                <h1 > A<%= left_seats[i]  %> </h1>



            </div>
               
    
             
               
    
            <% } %>
        </div>
    
    









     <center>  <h1> Here is all your orders </h1> </center>

       <% for(var j = 0; j < orders.length; j++){ %>
        
        <% let obj = users1.find(o => o._id == orders[j].userId);  %>
        
      
        <div style="border: 2px solid rgb(70, 64, 64); display: flex; flex-direction: column; margin-bottom:2%;">
        <h1> order Id :  <%= orders[j]._id %> </h1>
        <h1> user Name :  <%= obj.name %> </h1>
        <h1> seats booked : <% for(var k = 0 ; k< orders[j].seats.length; k++){ %>

          <%=  orders[j].seats[k] %>
,
       <% } %> </h1>
      
       <h1> user Email :  <%= obj.email %> </h1>


         
    </div>
       

        <% } %>

</body>
</html>