<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prem's Plaza</title>
    <link rel="stylesheet" href="/stylesheets/shop_provider_home.css">
   
</head>
<body>

   <div class="shop-provider-home">
    <h1 class="welcome-heading">Welcome <%= shopUser.shopName %> </h1>

    <div class="container">
        <div class="left">
            <h2>Listed Shops</h2>

            <% for(var i=0;i< shops.length; i++){ %>
            <ol>
                <a href="/shopadminforaddingitems/<%= shops[i]._id %>"> <h1>Shop Name :  <%= shops[i].shopName %></h1> </a>
                
                <h3>station location: <%= shops[i].station_Name %></h3>
                <div>
                  <h1>Contact Information</h1>
                  <h4>Shop contact Number: <%= shops[i].shopPhoneNo%></h4>
                  <h4>Shop Email Id: <%= shops[i].shopEmail%></h4>
                </div>
                
                <form action="/delete_shop" method="post">
                  <input type="text" value="<%= shops[i]._id %>" name="shopId_for_delete">
                  <button type="submit">delete this shop </button>
                </form>

                <form action="/edit_shop" method="post">
                  
                  <input type="text" id="name" name="shopName" placeholder="<%= shops[i].shopName %>" required>

                  <input type="text" id="station" name="station" placeholder="<%= shops[i].station_Name %>">

                  <input type="tel" id="phone" name="shopPhoneNo" placeholder="<%= shops[i].shopPhoneNo %>" >

                  <input type="email" id="email" name="shopEmail" placeholder="<%= shops[i].shopEmail %>" required>


              <input type="text" name="shopId_for_delete" value="<%= shops[i]._id %>" style="visibility: hidden;">

                <button type="submit">edit shop</button>

                </form>

            </ol>
            <% } %>

        </div>
      
        <div class="right">

            <h2>Add New Shop</h2>


            <form id="shopForm" action="/shopRegistration" method="post">

              <div class="form-group">
                <label for="name">Shop Name</label>
                <input type="text" id="name" name="shopName" required>
              </div>
          
              <div class="form-group">
                <label for="email">Shop Email</label>
                <input type="email" id="email" name="shopEmail" required>
              </div>
          
              <div class="form-group">
                <label for="phone">Shop Phone Number</label>
                <input type="tel" id="phone" name="shopPhoneNo" >
              </div>
          
              <div class="form-group">
                <label for="station">Station Name </label>
                <input type="text" id="station" name="station" >
              </div>

              <input type="text" name="shopProviderId" value="<%= shopUser._id%>" style="visibility: hidden;">

              <button type="submit">Register</button>
            </form>

        </div>
    </div>
  </div>
    <script src="script.js"></script>
</body>
</html>